{% extends "base.html" %}
{% comment %} data = {
    'newCollections': Collection.objects.filter(is_active=True)[:4],
    'randomCollections': Collection.objects.filter(is_active=True)[:4],
    'mainCategories': Category.objects.filter(parent__isnull=True),
    'subCategories': Category.objects.filter(parent__isnull=False),
    'topRatedProducts': Product.objects.order_by('-overall_rating')[:20],
    'newProducts': Product.objects.order_by('-created_at')[:20],
    'trendingProducts': Product.objects.filter(trending=True)[:20],
    'randomProducts': Product.objects.order_by('?')[:20],
    'randomProduct' : Product.objects.order_by('?').first()
} {% endcomment %}


{% block content %}

    {# 1. Top Navigation and Main Navigation #}
    {% include "top-nav.html" %}
    {% include "nav.html" %}
    {% include "sub-nav.html" %}

    {# 2. Hero / Main Banner Section (Big Products) #}
    {% include "big-products.html" %}

    {# 3. Featured Collections (Curated Collections) #}
    {% include "collections.html" %}

    {# 4. Main Categories (for quick access to main sections) #}
    {% include "main-categories.html" %}

    {# 5. Sub Categories (slider for trending sub-categories) #}
    {% include "sub-categories.html" %}

    {# 6. Featured Products (handpicked or bestsellers) #}
    {% include "featured-products.html" %}

    {# 7. Latest Offers (discounts, deals, time-limited offers) #}
    {% include "lastest-offers.html" %}

    {# 8. Random/Top Picks (personalized or random picks) #}
    {% include "random-products.html" %}

    {# 9. Recommended For You (personalized recommendations) #}
    {% include "recommended.html" %}

    {# 10. Store Features/Advantages (why shop with us) #}
    {% include "featured-cards.html" %}

    {# 11. Newsletter Signup (to be implemented as a separate page/component) #}
    {# {% include "newsletter-signup.html" %} #}

    {# 12. Blog/Articles Preview (to be implemented as a separate page/component) #}
    {# {% include "blog-preview.html" %} #}

{% endblock content %}