{% extends "base.html" %}


{% block content %}

    {# 2. Hero / Main Banner Section (Big Products) #}
    {% include "featured-products.html" %}

    {# 3. Featured Collections (Curated Collections) #}
    {% include "featured-collections.html" %}

    {# 4. Main Categories (for quick access to main sections) #}
    {% include "main-categories.html" %}

    {# 5. Sub Categories (slider for trending sub-categories) #}
    {% include "sub-categories.html" %}

    {# 6. Featured Products (handpicked or bestsellers) #}
    {% include "lastest-offers.html" %}

    {# 7. Latest Offers (discounts, deals, time-limited offers) #}
    {% include "random-products.html" %}

    {# 8. Random/Top Picks (personalized or random picks) #}
    {% include "recommended.html" %}

    {# 9. Recommended For You (personalized recommendations) #}
    {% include "featured-cards.html" %}

    {# 10. Store Features/Advantages (why shop with us) #}
    {# {% include "newsletter-signup.html" %} #}

    {# 11. Newsletter Signup (to be implemented as a separate page/component) #}
    {# {% include "blog-preview.html" %} #}

{% endblock content %}