{% load static %}
{% load i18n %}

<section class="featured-collections-section">
    <div class="container">
        <h2 class="section-title">{% trans "Featured Collections" %}</h2>
        <div class="row">
            {% for collection in data.featuredCollections %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="{{ collection.get_absolute_url }}">
                        <img src="{{ collection.image.url }}" class="card-img-top" alt="{{ collection.collection.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ collection.get_absolute_url }}">{{ collection.collection.title }}</a></h5>
                        <p class="card-text">{{ collection.offer }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>{% trans "No featured collections available." %}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section> 